<h1>It is an app</h1>


{{#if user}}
<form method='POST' action='/message'>
  {{!-- <input type='text' name='author' placeholder="Author" /> --}}
  {{user.name}}: 
  <input type='text' name='message' placeholder="Message">
  <button type="submit">Submit</button>
</form>
{{else}}
<a href="/register">Sign Up</a>
<a href="/login">Login</a>
{{/if}}
<ul>
  {{#each messages}}
  <li>{{author}}: {{message}}</li>
  {{/each}}
</ul>