<h1>Register</h1>

<a href="/">Home</a>
<a href="/login">Login</a>

<form method='POST' action='/register'>
  <input autofocus type='text' name='name' placeholder="Name">
  <input type='email' name='email' placeholder="Email" />
  <input type='password' name='password' placeholder="Password" />
  <button type="submit">Register</button>
</form>